@charset "UTF-8";
body {
  background-color: #c8ceee;
  color: #a7abde0;
  margin: 0;
  padding: 0;
  font-family: sans-serif;
  }

header {
  background: #957dad;
  color: black;
  padding: 2rem 1rem;
  text-align: center;
}


header h1 {
  font-size 2.5rem;
  margin: 0;
}

header p{
  margin: 0.5rem 0 0;
  font-weight: 300;
  font-style: italic;
}

h2 {
  color: black;
  margin-top: 2rem;
  padding-bottom: 0.5rem;
  border-bottom: 2px solid #c8ceee;
}

.container {
  margin: 2rem auto;
  max-width: 900px;
  background: #f2f1ee;
  padding: 2rem;
  box-shadow: 0 4ppx 12px rgba(0,0,0,0.05)
  border-radius: 10px;
}

.section {
margin-bottom: 2rem;
}

.gallery {
display: grid;
grid-template-columns: repeat(auto-fill, minmax(400px, 1fr));
gap: 16px;
}

.gallery img {
width:100%;
height: auto;
border: 2px solid #c8ceee;
border-radius: 6px;
transition: transform 0.3s ease, box-shadow 0.3s ease;
text-align: center;
}


.gallery img:hover {
transform: scale(1.03);
box-shadow: 0 4px 8px rgba(0,0,0,0.1);
}

.info p {
margin: 0.3rem 0;
}

footer {
text-align: center;
padding: 1rem;
font-size: 0.9rem;
background: #c8ceee;
color: black;
border-top: 1px solid #c8ceee;
}

.center-text{
text-align: center;
}

